{% extends "base.html" %}
{% block title %}Chat{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/chat.css') }}">
{% endblock %}
{% block body %}
<header class="container-fluid header-border bg-primary">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand text-white fw-bold me-auto" href="/chat/">
                <i class="bi bi-chat-fill"></i> FastChat</a>

            <div class="d-flex align-items-center">
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-light fw-bold text-decoration-none dropdown-toggle"
                        id="dropdownUser" id_user="{{ user.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ url_for('static', path='img/default_pfp.png') }}" alt="mdo" class="rounded-circle"
                            width="32" height="32">
                        {{ user.username }}
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end text-small shadow-sm" aria-labelledby="dropdownUser">
                        {% if user.is_superuser %}
                        <li><a class="dropdown-item" href="#">Admin Panel</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <!-- Logout Button -->
                        <li><button class="dropdown-item text-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModalCenterExit">Logout</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="container-fluid" style="height: calc(100vh - 57px);">
    <div class="row row-cols-2 h-100">
        <div class="col-12 col-sm-4 col-lg-3 p-0 messages-bar-border d-table h-100">
            <p class="text-center m-0 fs-5">Contacts</p>
            <div class="d-table-row h-100" style="position: relative;">
                <div class="list-group p-1 w-100" id="d-contacts"
                    style="position: absolute;  overflow-y: auto; height: inherit; min-height: inherit; max-height: inherit;">
                    <!--  -->
                </div>
            </div>

            <div class="d-block text-center mt-auto message-border py-2">
                <button class="btn btn-outline-primary rounded-0 w-75" data-bs-toggle="modal"
                    data-bs-target="#exampleModalCenter"><i class="bi bi-person-plus-fill"></i>
                    Add Contact</button>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Search Contact</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/search-contanct/" class="w-100" method="post" id="formContact">
                                    <div class="input-group m-0">
                                        <input type="email" class="form-control" placeholder="User Email"
                                            aria-label="Recipient's username" aria-describedby="basic-addon2"
                                            id="emailContact" value="">

                                        <button class="btn btn-outline-primary" type="submit"><i
                                                class="bi bi-search"></i></button>
                                    </div>
                                </form>
                                <div class="d-flex w-100 justify-content-center mt-3">
                                    <div class="align-items-center d-none" id="d-contact">
                                        <img src="{{ url_for('static', path='img/default_pfp.png') }}" alt="mdo"
                                            class="rounded-circle" width="32" height="32">
                                        <p class="m-0 me-3 ms-1" id="usernameContact" id_contact=""></p>
                                        <button class="btn btn-primary" id="addContactBtn">Add</button>
                                    </div>
                                </div>
                                <p class="m-0 text-center" id="respReqContact"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Logout Confirmation Modal -->
            <div class="modal fade" id="exampleModalCenterExit" tabindex="-1" aria-labelledby="exampleModalCenterTitle">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Logout</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <h4 class="text-danger">Are you sure you want to log out?</h4>
                            <button class="btn btn-outline-primary" id="confirmLogoutBtn">Yes</button>
                            <button class="btn btn-primary" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm d-none d-sm-table h-100 p-0 d-sm-none" id="d-chat">
            <p class="d-table-row text-center fw-bold m-0" style="background-color: #00948517;" id="chat-username"
                id_contact_user="0">
                Username</p>
            <div class="h-100 d-table-row" style="position: relative;">
                <div class="list-group p-2 w-100 d-flex flex-column-reverse"
                    style="position: absolute;  overflow-y: auto; height: inherit; min-height: inherit; max-height: inherit;"
                    id="d-chat-messages">

                </div>
            </div>

            <div class="col message-border p-2 mt-auto d-block bg-body">
                <div class="d-flex align-items-end">
                    <div class="form w-100 me-2">
                        <textarea class="form-control rounded-0" placeholder="Message text" id="textMessage"
                            style="height: 50px" maxlength="300"></textarea>
                    </div>
                    <button class="btn btn-primary rounded-circle" id="sendBtn" style="height: 50px; width: 50px;">
                        <i class="bi bi-send-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $.ajax({
        url: '/get-contacts/',
        type: 'post',
        success: function (response) {
            $.each(response, function (index, value) {
                $("#d-contacts").append(`<button class="list-group-item d-flex justify-content-between list-group-item-action align-items-center border-0 border-start border-2 border-light rounded-0 py-3"
                id_contact="${value.contact_user_id}" contact_username="${value.username}" id="openChatBtn" onclick="selectContact(this);">
                <img src="{{ url_for('static', path='img/default_pfp.png') }}" alt="mdo" class="rounded-circle"
                    width="32" height="32">
                <div class="ms-2 me-auto">
                    <div>
                        ${value.username}</div>
                </div>
                <span class="badge bg-primary rounded-pill" hidden>!</span>
            </button>`)
            });
        }
    });

    // Logout Functionality
    $("#confirmLogoutBtn").on("click", function () {
        window.location.href = "/logout/";  // This assumes the logout route is defined in your app
    });

    function selectContact(contact) {
        $("#chat-username").text($(contact).attr("contact_username"));
        $("#chat-username").attr("id_contact_user", $(contact).attr("id_contact"));
        getMessages();
    }

    function getMessages() {
        $.ajax({
            url: '/get-messages/',
            type: 'post',
            contentType: 'application/json',
            dataType: "json",
            data: JSON.stringify({
                "recipient_id": $("#chat-username").attr("id_contact_user")
            }),
            success: function (response) {
                $("#d-chat").removeClass("d-sm-none");
                $("#d-chat-messages").empty()
                $.each(response, function (index, value) {
                    $("#d-chat-messages").append(`<div class="d-block p-2 mb-2 list-group-item list-group-item-action border-0 p-0">
                        <div class="d-flex align-items-end ">
                            <img src="{{ url_for('static', path='img/default_pfp.png') }}" alt="mdo" class="rounded-circle" width="32" height="32">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">${value.username}</div>
                                ${value.text}
                            </div>
                        </div>
                    </div>`)
                });
            }
        });
    }

    $("#sendBtn").on("click", function () {
        $.ajax({
            url: '/send-message/',
            type: 'post',
            contentType: 'application/json',
            dataType: "json",
            data: JSON.stringify({
                "recipient_id": $("#chat-username").attr("id_contact_user"),
                "text": $("#textMessage").val()
            }),
            success: function (response) {
                getMessages();
                $("#textMessage").val("");
            }
        });
    });
</script>
{% endblock %}
